@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 11;
  padding: 0;
  box-sizing: border-box;
}



.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #1A1A40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  margin-right: 50px;
  margin-left: 50px;
  }

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid rgba(15, 47, 225, 0.745);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #5871ff;
  color: #fff;
  border: none;
  padding: 0.59rem;
  cursor: pointer;
  border-radius: 3px;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: hsl(261, 83%, 50%);
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
body {
  background: #5879ff;
  display: flex;
  justify-content: center;
  align-items:  center;
}


.TodoWrapper {
  text-align: center;
  padding: 20px;
}

.Header {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}
.TodoWrapperContainer {
  width: 100%;
  max-width: 700px; /* Adjust as needed */
  body {
  background: #5879ff;
  display: flex;
  justify-content: left;
  align-items:  left;
}
}
.AnotherWrapperContainer {
  background: #5879ff;
  display: flex;
  justify-content: right;
  align-items:  right;
}

